name: Code Quality Scan

on:
  push:
    branches:
      - '**'

jobs:
  pmd-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Run PMD via Gradle
        run: chmod +x gradlew
          ./gradlew pmdMain pmdTest